@import "variable";

.vertical-center(@position: relative) {
  position: @position;
  transform: translateY(-50%);
  top: 50%;
}

.horizon-center(@position: relative) {
  position: @position;
  transform: translateX(-50%);
  left: 50%;
}

.all-center(@position: relative) {
  position: @position;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.change-img-color(@color; @width) {
  position: relative;
  left: -100%;
  filter: drop-shadow(@color @width 0);
  border-right: 20px solid transparent;
}
